<h1>You see a shining light emitting from a box ahead..</h1>

<br /><br />

<div class="container">
  <div>
    <label type="label"><%= @quests.quest_message %></label>
  </div>

  <form action="/quests/<%= @quests.path_A_ID %>" method=GET >
    <div>
      <input class="button" type="submit" value="<%= @quests.path_A %>"/>
    </div>
  </form>
<div>
